// About-Us-V2-css
.about-us-v2-section {
    width: 100%;
    position: relative;
    .image-container {
        background: url(../images/orange-bg-img.png);
        background-position: center;
        background-size: auto;
        background-color: var(--main-orange);
        position: relative;
        width: 100%;
        margin-top: 30rem;
        .video-container {
            width: 100%;
            padding: 6rem 0;
            .video-wrapper {
                position: relative;
                margin-top: -35rem;
                .about-v2-img {
                    background-color: var(--grey-black);
                    border-radius: 10px;
                    width: 100%;
                    height: 657px;
                    object-fit: cover;
                    @media (max-width: 767px) {
                        height: 482px;
                    }
                }
                .video-play-banner {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 4.8rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 1;
                    .icon-play {
                        width: 118px;
                        height: 118px;
                        fill: var(--main-orange);
                        background: var(--primary-white);
                        border-radius: 50%;
                        padding: 18px;
                        @media (max-width: 991px) {
                            height: 82px;
                            width: 82px;
                        }
                        @media (max-width: 767px) {
                            height: 62px;
                            width: 62px;
                            padding: 8px;
                        }
                    }
                    .video-text-box {
                        .video-heading {
                            font-size: var(--font-size-md-bold);
                            font-family: var(--font-family-bio-rhyme);
                            color: var(--primary-white);
                            font-weight: bold;
                            line-height: 1.333;
                            text-align: center;
                            width: 75%;
                            margin: auto;
                            @media (max-width: 991px) {
                                width: 100%;
                            }
                        }
                        .watch-video {
                            font-size: var(--font-size-x-sm);
                            font-family: var(--font-family-spartan);
                            font-weight: bold;
                            line-height: 1.25;
                            text-transform: uppercase;
                            margin-top: 3.8rem;
                            letter-spacing: 1.5px;
                            color: var(--primary-white);
                            text-align: center;
                        }
                    }
                }
                .modal {
                    display: none; /* Hidden by default */
                    position: fixed;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--bg-black-transparent); /* Black background with opacity */
                }

                .modal-content {
                    position: relative;
                    margin: 15% auto;
                    padding: 30px;
                    width: 80%;
                    max-width: 700px;
                    iframe{
                        width: 100%;
                        border: none;
                    }
                }

                .close-btn {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    height: 28px;
                    width: 28px;
                    font-weight: bold;
                    cursor: pointer;
                    background-color: var(--primary-white);
                    border-radius: 50%;
                }
            }
            .about-us-services-section {
                display: grid;
                gap: 3.2rem;
                grid-template-columns: 1fr 1fr;
                @media (max-width: 991px) {
                    grid-template-columns: 1fr;
                    gap: 0;
                }
                .primary-heading {
                    font-size: var(--font-size-lg);
                    color: var(--primary-white);
                    margin: 4.8rem 0;
                    .underline {
                        border: 2px solid var(--primary-white);
                        background-color: var(--primary-white);
                    }
                }
                .accordian-section {
                    .accordian-block {
                        background-color: var(--primary-white);
                        border-radius: 10px;
                        margin-bottom: 10px;
                        .accordion {
                            background-color: var(--primary-white);
                            font-size: var(--font-size-md-light);
                            font-family: var(--font-family-bio-rhyme);
                            color: var(--primary-black);
                            font-weight: bold;
                            cursor: pointer;
                            padding: 18px;
                            border-radius: 10px;
                            width: 100%;
                            border: none;
                            text-align: left;
                            outline: none;
                            transition: 0.4s;
                            display: flex;
                            align-items: center;
                            gap: 2rem;
                            @media (max-width: 767px) {
                                padding: 18px;
                            }
                        }
                        .active,
                        .accordion:hover {
                            background-color: var(--primary-white);
                        }
                        .icon {
                            height: 2rem;
                            width: 2rem;
                            fill: var(--primary-white);
                            line-height: 1.2;
                            border-radius: 50%;
                            background-color: var(--main-orange);
                            display: inline-block;
                        }

                        .accordian-minus-icon {
                            display: none; /* Initially hidden */
                        }

                        .accordian-plus-icon {
                            display: inline; /* Initially visible */
                        }
                        .panel {
                            font-size: var(--font-size-x-sm);
                            font-family: var(--font-family-spartan);
                            font-weight: 500;
                            line-height: 1.875;
                            color: var(--grey);
                            padding: 0 50px 0 58px;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.2s ease-out;
                            @media (max-width: 767px) {
                                padding: 0 52px;
                            }
                            &.open {
                                max-height: 200px;
                                padding-bottom: 38px; // Adjust max-height based on the content height
                            }
                        }
                    }
                }
                .toggle-card-section {
                    .tab--block {
                        display: flex;
                        justify-content: space-between;
                        gap: 0.6rem;
                        .tab-links {
                            font-size: var(--font-size-sm);
                            padding: 2.2rem 1.8rem;
                            font-family: var(--font-family-bio-rhyme);
                            color: var(--primary-white);
                            font-weight: bold;
                            line-height: 1.5;
                            background-color: var(--bg-orange-transparent);
                            outline: none;
                            border: none;
                            border-radius: 10px 10px 0 0;
                            cursor: pointer;
                            width: 100%;
                            display: inline-block;
                            transition: all 0.2s ease-in-out;
                            @media (max-width: 767px) {
                                font-size: var(--font-size-xx-sm);
                                padding: 2rem 1.2rem;
                            }
                        }
                        .active-tab {
                            background-color: var(--primary-white);
                            color: var(--primary-black);
                        }
                    }
                    .toggle-card {
                        display: flex;
                        gap: 3rem;
                        padding: 4.6rem;
                        align-items: center;
                        border-radius: 0 0 10px 10px;
                        background-color: var(--primary-white);
                        transition: all 0.2s ease-in-out;
                        @media (max-width: 767px) {
                            gap: 2rem;
                            padding: 2.6rem;
                        }
                        .toggle-card-img {
                            border-radius: 10px;
                            object-fit: cover;
                            width: 100%;
                            height: 186px;
                            background-color: var(--primary-black);
                            overflow: hidden;
                        }
                        .card-text {
                            font-size: var(--font-size-x-sm);
                            font-family: var(--font-family-spartan);
                            font-weight: 500;
                            color: var(--grey);
                            line-height: 1.875;
                            text-align: left;
                            @media (max-width: 1200px) {
                                line-height: 1.65;
                            }
                            @media (max-width: 767px) {
                                line-height: 1.4;
                            }
                        }
                    }
                    /* =====toggle-classes===== */

                    .hidden {
                        display: none;
                    }
                    /* ========== */
                }
            }
        }
    }
}
