// Breed-Card-Section
.breeds-section {
    padding: 10.2rem 0;
    background-color: var(--grey-black);
    @media (max-width: 767px) {
        padding: 5rem 0;
    }
    .primary-heading {
        text-align: center;
        color: var(--primary-white);
        .underline {
            margin: 12px auto;
        }
    }
    .primary-discription {
        text-align: center;
        margin: auto;
    }
    .breed-card-block {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 3rem;
        margin: 5rem 0;
        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
        .dog-breed-card:link,
        .dog-breed-card:visited {
            outline: 1px solid var(--light-border-color);
            border-radius: 10px;
            background-color: var(--bg-black-semi-transparent);
            text-decoration: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.2rem;
            padding: 2.8rem 0;
            transition: 0.1s linear;

            .breed-img {
                width: 116px;
                height: 116px;
                border-radius: 50%;
                object-fit: cover;
            }

            .dog-breed-title {
                font-size: var(--font-size-sm);
                font-family: var(--font-family-bio-rhyme);
                color: var(--primary-white);
                font-weight: bold;
                line-height: 1.2;
                text-align: center;
            }
            &:hover,
            &:active {
                outline: 2px solid var(--main-orange);
                box-shadow: 0px 10px 20px 0px var(--box-shadow-color);
                transition: 0.1s linear;
            }
        }
    }
    .breeds-buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        .btn {
            font-family: var(--font-family-bio-rhyme);
            font-weight: bold;
            font-size: var(--font-size-x-sm);
            text-transform: capitalize;
            letter-spacing: 0;
        }
        .btn--white {
            color: var(--grey-black);
            &:hover {
                color: var(--primary-white);
            }
        }
    }
}
.breeds-light-section {
    background-color: var(--primary-white);
    .primary-heading {
        color: var(--primary-black);
    }
    .breed-card-block {
        .dog-breed-card:link,
        .dog-breed-card:visited {
            outline: 1px solid var(--border-color);
            transition: 0.1s linear;
            .breed-img {
                outline: 1px solid var(--border-color);
            }
            .dog-breed-title {
                color: var(--primary-black);
            }
        }
        .active {
            outline: 2px solid var(--main-orange) !important;
            box-shadow: 0px 10px 20px 0px var(--box-shadow-color);
        }
    }
    .breed-card-content {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .breed-main-img {
        width: 100%;
        max-height: 568px;
        object-fit: cover;
        border-radius: 10px;
    }
    .inner-container {
        max-width: 850px;
        margin: 0 auto;
        padding-top: 7rem;
        text-align: center;

        .primary-heading {
            text-align: center;
            line-height: 1.2;
            margin-bottom: 5rem;
            @media (max-width: 767px) {
                font-size: 4rem;
            }
        }
        p {
            margin-bottom: 4rem;
        }
        .news-text {
            margin: 2rem 0;
            span {
                color: var(--grey);
                font-family: var(--font-family-spartan);
                font-weight: 400;
                font-size: var(--font-size-xx-sm);
                margin-right: 2.2rem;
            }
        }
        .quote-block {
            padding: 5rem 6rem;
            border: 2px solid var(--main-orange);
            border-radius: 10px;
            margin-bottom: 5rem;
            .quote {
                font-size: var(--font-size-md);
                font-family: var(--font-family-bio-rhyme);
                font-weight: 400;
                color: var(--main-orange);
                line-height: 1.467;
                text-align: left;
            }
            .name {
                font-size: var(--font-size-md-light);
                margin-top: 3.8rem;
                text-align: left;
                margin-bottom: 0;
            }
        }
        .img-gallery {
            display: flex;
            gap: 2.8rem;
            justify-content: center;
            margin-bottom: 5rem;
            padding-top: 1rem;
            cursor: pointer;
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            .img-block {
                position: relative;
                display: inline-block;
                .dog-img {
                    border-radius: 50% 50%;
                    width: 149px;
                    height: 149px;
                    display: block;
                    object-fit: cover;
                    @media (max-width: 991px) {
                        height: 120px;
                        width: 120px;
                    }
                    @media (max-width: 767px) {
                        width: 90px;
                        height: 90px;
                    }
                }
                /* Icon styling */
                .plus-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 50px;
                    width: 50px;
                    fill: var(--primary-white);
                    opacity: 0; /* Initially hidden */
                    transition: opacity 0.3s ease; /* Smooth transition */
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--overlay-color); /* Semi-transparent orange */
                    opacity: 0;
                    border-radius: 50% 50%;
                    transition: opacity 0.3s ease;
                }
                &:hover {
                    .plus-icon {
                        opacity: 1;
                    }
                    .overlay {
                        opacity: 1;
                    }
                }
            }
        }
        .img-popup {
            display: none; /* Hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--bg-popup-color);
            justify-content: center;
            align-items: center;
            z-index: 10;
        }

        .img-popup.opened {
            display: flex; /* Show popup when "opened" class is added */
        }

        .popup-image {
            max-width: 80%;
            max-height: 80%;
            border-radius: 10px;
        }

        .close-btn {
            position: absolute;
            top: 20px;
            right: 30px;
            height: 30px;
            width: 30px;
            fill: var(--primary-white);
            cursor: pointer;
        }
        .heading {
            .primary-heading {
                font-size: var(--font-size-md);
                margin-bottom: 4rem;
            }
        }

        .form {
            max-width: 852px;
            margin: 5rem auto 0;
            @media (max-width: 991px) {
                padding: 0 10rem;
            }
            @media (max-width: 767px) {
                padding: 0 0rem;
            }
            .form-block {
                display: flex;
                gap: 2rem;
                margin-bottom: 2rem;
                @media (max-width: 991px) {
                    flex-direction: column;
                }
            }
            .form-group {
                width: 100%;

                input[type='text'],
                input[type='email'],
                input[type='tel'],
                textarea {
                    outline: none;
                    width: 100%;
                    padding: 18px 30px;
                    border: 1px solid var(--border-color);
                    border-radius: 3.6rem;
                    box-sizing: border-box;
                    font-family: var(--font-family-spartan);
                    line-height: 1.2;
                    color: var(--grey);
                    font-size: var(--font-size-xx-sm);
                }
                textarea {
                    width: 100%;
                    height: 185px;
                    resize: none;
                    border-radius: 2.6rem;
                }
            }

            .btn--white {
                font-size: var(--font-size-x-sm);
                font-family: var(--font-family-bio-rhyme);
                color: var(--primary-white);
                font-weight: bold;
                line-height: 1.2;
                background-color: var(--grey-black);
                text-transform: capitalize;
                display: flex;
                letter-spacing: 0px;
                padding: 18px 32px;
                margin: 2rem auto;
                transition: 0.3s ease;
                &:hover {
                    background-color: var(--main-orange);
                    color: var(--primary-white);
                }
            }
            #successMessage {
                margin-top: 15px;
                text-align: center;
                font-weight: bold;
                font-family: var(--font-family-spartan);
            }
        }
    }
    .breed-card-content.active {
        display: block;
        opacity: 1; /* Fully visible when active */
    }
}
