.contact-form-section {
    background-color: var(--grey-bg);
    padding: 15rem 0;
    @media (max-width: 767px) {
        padding: 5rem 0;
    }
    .primary-heading {
        text-align: center;
        .underline {
            margin: 12px auto;
        }
    }
    .primary-discription {
        text-align: center;
        margin: auto;
    }
    .form {
        max-width: 852px;
        margin: 5rem auto 0;
        @media (max-width: 991px) {
            padding: 0 10rem;
        }
        @media (max-width: 767px) {
            padding: 0 0rem;
        }
        .form-block {
            display: flex;
            gap: 2rem;
            margin-bottom: 2rem;
            @media (max-width: 991px) {
                flex-direction: column;
            }
        }
        .form-group {
            width: 100%;

            input[type='text'],
            input[type='email'],
            input[type='tel'],
            textarea {
                outline: none;
                width: 100%;
                padding: 18px 30px;
                border: 1px solid var(--border-color);
                border-radius: 3.6rem;
                box-sizing: border-box;
                font-family: var(--font-family-spartan);
                line-height: 1.2;
                color: var(--grey);
                font-size: var(--font-size-xx-sm);
            }
            textarea {
                width: 100%;
                height: 185px;
                resize: none;
                border-radius: 2.6rem;
            }
            .error {
                color: red;
                font-size: 14px;
                margin-top: 5px;
                margin-left: 2rem;
                font-family: var(--font-family-spartan);
            }
        }

        .btn--white {
            font-size: var(--font-size-x-sm);
            font-family: var(--font-family-bio-rhyme);
            color: var(--primary-white);
            font-weight: bold;
            line-height: 1.2;
            background-color: var(--grey-black);
            text-transform: capitalize;
            display: flex;
            letter-spacing: 0px;
            padding: 18px 32px;
            margin: 2rem auto;
            transition: 0.3s ease;
            &:hover {
                background-color: var(--primary-white);
                color: var(--primary-black);
            }
        }
        #successMessage {
            margin-top: 15px;
            text-align: center;
            font-weight: bold;
            font-family: var(--font-family-spartan);
        }
    }
}
