.error-section {
  padding: 15rem 0;
  @media (max-width: 767px) {
    padding: 5rem 0;
  }
  .inner-container {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    .primary-heading {
      text-align: center;
    }
    .orange--text {
      color: var(--main-orange);
    }
    .error-img {
      height: 100%;
      width: 100%;
    }
    .headings {
      margin-top: 2.4rem;
      .primary-heading {
        text-align: center;
        .underline {
          margin: 12px auto;
        }
      }
      .primary-discription {
        width: 100%;
        text-align: center;
        margin-top: 2.4rem;
        a:link,
        a:visited {
          display: inline;
          color: var(--main-orange);
        }
      }
    }
    .error-btns {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin-top: 5rem;
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 1rem;
      }
      .btn {
        font-family: var(--font-family-bio-rhyme);
        font-size: var(--font-size-x-sm);
        text-transform: capitalize;
      }
      .btn--white:link,
      .btn--white:visited {
        background-color: var(--grey-black);
        color: var(--primary-white);
      }
      .btn--white:active,
      .btn--white:hover {
        background-color: var(--main-orange);
      }
      .btn--orange:active,
      .btn--orange:hover {
        background-color: var(--grey-black);
        color: var(--primary-white);
      }
    }
  }
}
