// footer-css
.footer {
    padding: 15rem 0;
    background-color: var(--grey-black);
    @media (max-width: 767px) {
        padding: 5rem 0;
    }
    .grid {
        grid-template-columns: auto auto auto auto;
        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .footer-wrapper {
        .sub-heading {
            font-family: var(--font-family-bio-rhyme);
            font-weight: 700;
            font-size: var(--font-size-md);
            color: var(--primary-white);
            text-transform: capitalize;
        }
        .footer-description {
            font-family: var(--font-family-spartan);
            font-weight: 500;
            color: var(--grey);
            font-size: var(--font-size-xx-sm);
            line-height: 1.665;
        }
        //About-col
        .about-col {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            .footer-social-links {
                list-style-type: none;
                display: flex;
                gap: 1rem;

                .social-link:link,
                .social-link:visited {
                    text-decoration: none;
                    background-color: var(--footer-bg-color);
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s ease;
                    .icon {
                        height: 2rem;
                        width: 2rem;
                        fill: var(--grey);
                        line-height: 1.2;
                        transition: 0.3s ease;
                    }
                    &:hover {
                        background-color: var(--main-orange);
                        .icon {
                            fill: var(--primary-white);
                        }
                    }
                }
            }
        }
        //Links-col
        .links-col {
            justify-self: center;
            @media (max-width: 991px) {
                justify-self: start;
            }
            .footer-nav {
                margin-top: 3.2rem;
                list-style-type: none;
                .footer-link:link,
                .footer-link:visited {
                    text-decoration: none;
                    font-family: var(--font-family-spartan);
                    font-weight: 500;
                    color: var(--grey);
                    font-size: var(--font-size-xx-sm);
                    line-height: 2.429;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    transition: 0.3s ease;
                    .icon-play {
                        height: 14px;
                        width: 14px;
                        fill: var(--grey);
                        line-height: 2.429;
                        outline: 1px solid var(--grey);
                        border-radius: 50%;
                        transition: 0.3s ease;
                    }
                    &:hover {
                        color: var(--primary-white);
                        .icon-play {
                            fill: var(--main-orange);
                            outline: 1px solid var(--main-orange);
                        }
                    }
                }
            }
        }
        //Our-Dogs-col
        .our-dogs-col {
            .dogs-face-imgs {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                margin-top: 3.2rem;
                max-width: 50%;
                .footer-img {
                    position: relative;
                    display: inline-block;
                    transition: 0.3s ease;
                    img {
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    /* Icon styling */
                    .plus-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 25px;
                        width: 25px;
                        fill: var(--primary-white);
                        opacity: 0; /* Initially hidden */
                        transition: opacity 0.3s ease; /* Smooth transition */
                    }
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: var(--overlay-color); /* Semi-transparent orange */
                        opacity: 0;
                        border-radius: 50% 50%;
                        transition: opacity 0.3s ease;
                    }
                    &:hover {
                        .plus-icon {
                            opacity: 1;
                        }
                        .overlay {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        // Subscribe-col
        .subscribe-col {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            .email-validaion-block {
                min-width: 259px;

                form {
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr auto;
                    gap: 1rem;
                    input {
                        outline: none;
                        border: none;
                        color: var(--primary-white);
                        background-color: var(--footer-bg-color);
                        padding: 1.8rem 2.8rem;
                        border-radius: 30px;
                        width: 100%;
                        &::placeholder {
                            font-size: var(--font-size-xx-sm);
                            font-family: var(--font-family-spartan);
                            color: var(--grey);
                            line-height: 1.714;
                        }
                    }

                    button {
                        border-radius: 50%;
                        background-color: var(--main-orange);
                        width: 52px;
                        height: 52px;
                        border: none;
                        outline: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        padding-top: 2px;
                        cursor: pointer;
                        .arrow-right {
                            height: 24px;
                            width: 24px;
                            fill: var(--primary-white);
                        }
                    }
                }
                #error-message {
                    color: red;
                    font-size: var(--font-size-btn);
                    text-align: left;
                    visibility: hidden;
                    margin-top: 4px;
                    margin-left: 2rem;
                }
            }
        }
    }
    .copyright {
        font-family: var(--font-family-spartan);
        font-weight: 500;
        color: var(--grey);
        font-size: var(--font-size-btn);
        text-transform: uppercase;
        margin-top: 5rem;
        letter-spacing: 1px;
    }
}
