.gallery-section {
    padding: 15rem 0;
    @media (max-width: 767px) {
        padding: 5rem 0;
    }
    .button-group {
        display: flex;
        justify-content: center;
        margin-bottom: 5.2rem;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        .filter-button {
            color: var(--grey);
            font-family: var(--font-family-bio-rhyme);
            font-weight: 700;
            font-size: var(--font-size-md-light);
            border: none;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
            outline: none;
            background: none;
            @media (max-width: 767px) {
                padding: 10px 10px;
            }
        }

        .is-checked {
            color: var(--grey-black);
        }
    }
    .gallery {
        .gallery-item {
            width: calc(33% - 30px);
            margin: 15px;
            justify-self: center;
            .gallery-card {
                position: relative;
                text-decoration: none;
                transition: 0.3s ease;
                .gallery-img-block {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 1rem;
                    width: 100%;
                    .gallery-img {
                        width: 100%;
                        max-height: 267px;
                        border-radius: 10px;
                        display: block;
                        object-fit: cover;
                    }
                    /* Icon styling */
                    .plus-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 50px;
                        width: 50px;
                        fill: var(--primary-white);
                        opacity: 0; /* Initially hidden */
                        transition: opacity 0.3s ease; /* Smooth transition */
                    }
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: var(--overlay-color); /* Semi-transparent orange */
                        opacity: 0;
                        border-radius: 10px;
                        transition: opacity 0.3s ease;
                    }
                }

                &:hover {
                    .plus-icon {
                        opacity: 1;
                    }
                    .overlay {
                        opacity: 1;
                    }
                }
            }
            .title {
                color: var(--grey-black);
                font-family: var(--font-family-bio-rhyme);
                font-weight: 700;
                font-size: var(--font-size-md-light);
                text-align: center;
                margin-top: 3rem;
            }
            .sub-title {
                font-family: var(--font-family-spartan);
                font-weight: 500;
                color: var(--grey);
                font-size: var(--font-size-xx-sm);
                text-align: center;
                margin-top: 2rem;
            }
            .hidden {
                display: none;
            }

            @media (max-width: 991px) {
                width: calc(50% - 30px);
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .gallery-item.hidden {
            display: none;
        }
    }

    .more-btn {
        display: flex;
        justify-content: center;
        .btn--white {
            font-family: var(--font-family-bio-rhyme);
            font-weight: 700;
            font-size: var(--font-size-x-sm);
            background-color: var(--grey-black);
            color: var(--primary-white);
            transition: 0.3s ease;
            margin-top: 10rem;
            &:hover {
                background-color: var(--main-orange);
            }
        }
    }
}
