.gallery-detail-section {
    padding-top: 12rem;
    padding-bottom: 15rem;
    @media (max-width: 767px) {
        padding: 5rem 0;
    }
    .main-gallery-block {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 8rem;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 10rem;
        @media (max-width: 991px) {
            gap: 6rem;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            padding-bottom: 4rem;
        }
        // img-block-for-large-screens
        .gallery-img-block {
            display: block;
            @media (max-width: 767px) {
                display: none;
            }
            .gallery-detail-img {
                width: 100%;
                border-radius: 10px;
                object-fit: cover;
                margin-bottom: 3rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        // Gallery-swiper-for-small-screen
        .gallery-swiper {
            display: none;

            .swiper {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
            .gallery-pagination {
                display: flex;
                gap: 4px;
            }
            .swiper-horizontal > .swiper-pagination-bullets,
            .swiper-pagination-bullets.swiper-pagination-horizontal {
                position: absolute;
                z-index: 1;
                bottom: 1rem;
                left: 50%;
                transform: translateX(-50%);
                width: auto;
            }
            .gallery-pagination .swiper-pagination-bullet {
                height: 10px;
                width: 10px;
                background: var(--primary-white);
                opacity: 0.4;
            }
            .gallery-pagination .swiper-pagination-bullet-active {
                background: var(--main-orange); //Active bullet color
                opacity: 1;
            }
            @media (max-width: 767px) {
                display: contents;
            }
        }

        // text-block
        .gallery-text-block {
            .main-title {
                font-family: var(--font-family-bio-rhyme);
                font-weight: 700;
                color: var(--grey-black);
                font-size: var(--font-size-md);
                line-height: 1.2;
                margin-bottom: 2rem;
            }
            .project-detail {
                font-family: var(--font-family-spartan);
                font-weight: 500;
                font-size: var(--font-size-x-sm);
                color: var(--grey);
                line-height: 1.883;
                margin-bottom: 4rem;
            }
            .info-list {
                list-style: none;
                border-bottom: 1px solid var(--border-color);
                padding-bottom: 1rem;
                .info-item {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 3rem;
                    .dot {
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--main-orange);
                        display: inline-block;
                        margin-right: 1.2rem;
                    }
                    .info-text {
                        .info-title {
                            font-family: var(--font-family-bio-rhyme);
                            font-weight: 700;
                            color: var(--grey-black);
                            font-size: var(--font-size-md);
                            line-height: 1.2;
                        }
                        .info-content {
                            font-family: var(--font-family-spartan);
                            font-weight: 500;
                            font-size: var(--font-size-x-sm);
                            color: var(--grey);
                            line-height: 1.883;
                            margin-top: 1rem;
                        }
                    }
                }
            }
            .gallery-social-links {
                list-style-type: none;
                display: flex;
                gap: 1rem;
                margin-top: 4rem;
                margin-left: 2rem;
                .social-link:link,
                .social-link:visited {
                    text-decoration: none;
                    background-color: var(--icon-bg);
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s ease;
                    .icon {
                        height: 2rem;
                        width: 2rem;
                        fill: var(--grey);
                        line-height: 1.2;
                        transition: 0.3s ease;
                    }
                    &:hover {
                        background-color: var(--main-orange);
                        .icon {
                            fill: var(--primary-white);
                        }
                    }
                }
            }
        }
    }
    .gallery-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        .slider-icon {
            text-decoration: none;
            background-color: var(--icon-bg);
            width: 52px;
            height: 51px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease;
            .icon-inner {
                height: 3rem;
                width: 3rem;
                fill: var(--grey);
            }
            &:hover {
                background-color: var(--main-orange);
                .icon-inner {
                    fill: var(--primary-white);
                }
            }
        }
    }
}
