.hamburger {
    &-icon {
        cursor: pointer;
        padding: 0 1rem;
        .bar {
            width: 18px;
            height: 3px;
            
            background-color: var(--primary-white);

            &:nth-child(n+2) {
                margin-top: 3px;
            }

            &:nth-child(2) {
                margin-left: 2px;
            }

            @media (max-width: 991px) {
                height: 2px
            }

        }
    }

    &-content {
        position: fixed;
        top: 0;
        left: 0;
        
        background-color: var(--primary-white);

        width: 100vw;
        height: 100vh;

        z-index: 99999999;
        
        transition: all .5s ease-in-out;
    }

    &.direction-left &-content {
        // left: -100%;
        transform: translateX(-100%);
    }

    &.direction-right &-content {
        right: -100%;
    }

    &.shown.direction-left &-content {
        // left: 0;
        transform: translateX(0);
    }

    &.shown.direction-right &-content {
        right: 0;
    }

    &-close {
        font-size: 22px;
        height: 22px;
        fill: var(--primary-black);
        cursor: pointer;

        svg {
            height: inherit;;
            fill: inherit;
        }
    }

}


.hamburger-content {
    
    --padding-left: 3.8rem;
    --padding-right: 3.8rem;


    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 2.5rem var(--padding-right) 2.5rem var(--padding-left);
    

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

    &-main {
        margin-top: 5.5rem;
        .navigation-menu {
            > li {
                &::after {
                    display: none;
                }
            }

            > li > a {
                padding: 0 0;
            }

            .sub-menu {
                margin-top: 0;
                margin-left: 3.8rem;
            }

        }

        ul {
            padding: 0 var(--padding-left) 0 var(--padding-right) !important;
        }
    }

}

header {
    .home-2-humburger .bar {
        background-color: var(--primary-black);
    }
    &.scrolled {
        .hamburger-icon .bar {
            background-color: var(--primary-black);
        }
    }
}
