header {
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        transition: all 0.25s ease;
    }

    .header-inner-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &.sticky-nav {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 9999;
        transition: all 0.25s ease;

        @media (max-width: 991px) {
            top: 0;
        }
    }

    .logo {
        position: relative;

        .show-sticky {
            position: absolute;
            top: 0;
            left: 0;

            opacity: 0;
            visibility: hidden;

            transition: all 0.25s ease;
        }

        .hide-sticky {
            transition: all 0.25s ease;
        }
    }

    &.scrolled {
        top: 0;
        background-color: var(--primary-white);

        .header-wrapper {
            height: 70px;
        }

        .navigation-menu {
            a {
                color: var(--primary-black);
            }
        }

        .logo {
            .show-sticky {
                opacity: 1;
                visibility: visible;
            }

            .hide-sticky {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    .hamburger {
        display: none;

        @media (max-width: 991px) {
            display: block;
        }
    }
}

.navigation-menu {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    z-index: 9999;

    &-wrapper {
        height: 100%;
        z-index: 9999;
    }

    ul {
        margin: 0;
    }

    // first level of depth
    > li {
        > a {
            padding: 0 25px;

            &::after {
                content: '';
                width: 0;
                height: 1px;

                background-color: var(--color-white);

                position: absolute;
                bottom: 0;
                left: 0;

                opacity: 0;

                transition: all 0.25s ease;
            }

            &:hover::after {
                width: 100%;
                opacity: 1;
            }
        }
    }

    li {
        height: 100%;
        list-style: none;
    }

    a {
        font-family: var(--font-family-bio-rhyme);
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        color: var(--primary-white);
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        outline: 0;
        position: relative;

        .icon {
            height: 14px;

            transition: all 0.25s ease;

            svg {
                vertical-align: top;
            }
        }
    }

    &.navigation-menu-2 a {
        color: var(--primary-black);
    }

    .menu-item-has-children {
        position: relative;
        .active-tab {
            color: var(--grey-black);
        }
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        width: max-content;
        opacity: 0;
        visibility: hidden;
        padding: 2rem 0;
        // border-radius: var(--border-radius);
        min-width: 28rem;
        margin-top: 15px;
        margin-left: -25px;

        li {
            // padding: 0 1rem;
        }

        li a {
            opacity: 0;
            visibility: hidden;
            padding: 1.4rem 3rem 1.4rem 3rem;

            font-size: 1.6rem;
            font-weight: 500;
            color: var(--main-orange);
            // border-radius: var(--border-radius);
            transition: all 0.25s ease;

            svg {
                fill: var(--main-orange);
            }
        }

        li:hover > a,
        li.current-menu-item > a {
            background-color: var(--main-orange);
            color: var(--primary-white);

            svg {
                fill: var(--primary-white);
            }
        }

        // dropdown inside dropdown
        .sub-menu {
            top: 0;
            left: calc(100% + 10px);
            background-color: var(--main-orange);
            border-radius: 10px;
            box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.2), 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
            margin-left: 0;

            a {
                color: var(--primary-white);
            }

            li:hover > a,
            li.current-menu-item > a {
                background-color: var(--submenu-bg-hover-color);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -10px;
                width: 100%;
                height: 100%;
            }
        }
    }

    // first level of depth
    > .menu-item-has-children {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
        }

        // inner levels of depth
        .menu-item-has-children {
            position: static;
        }
    }
}
.home-2-menu {
    a:link,
    a:visited {
        color: var(--grey);
    }
    a:active,
    a:hover {
        color: var(--grey-black);
    }
}
.nav-dropdown-bg {
    position: fixed;
    background-color: var(--primary-white);
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transform-origin: center center;
    border-radius: 1rem;
    pointer-events: none;
    display: block;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);

    &-icon,
    .icon {
        position: fixed;
        top: -16px;
        left: 50px;
        z-index: inherit;
        transform: scale(1);
        display: block;
        pointer-events: none;
        svg {
            width: 30px;
            height: 30px;
            fill: var(--primary-white);
        }
    }

    &-icon {
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
    }

    .icon {
        opacity: 0;
    }
}

.header-wrapper {
    z-index: 9999;

    @media (max-width: 991px) {
        &.desktop {
            display: none;
        }
    }

    @media (min-width: 991px) {
        &.mobile {
            display: none;
        }
    }
}

.mobile.navigation-menu {
    display: block;
    position: relative;
    padding: 0;

    --item-font-size: 18px;
    --item-font-weight: 500;
    --item-line-height: 60px;
    --item-color-normal: var(--primary-black);

    li {
        width: 100%;
        height: auto;
        display: block;
    }

    li a {
        padding-right: 15px;
        padding-left: 0;
    }

    a {
        font-size: var(--item-font-size);
        font-weight: var(--item-font-weight);
        line-height: var(--item-line-height);
        color: var(--item-color-normal);
    }

    li:hover,
    li:focus,
    li:active,
    li.current-menu-item,
    li.current-menu-ancestor {
        color: var(--main-orange);

        > a {
            background-color: transparent;
            color: inherit !important;

            .icon svg {
                fill: var(--main-orange) !important;
            }
        }
    }

    .icon {
        fill: var(--item-color-normal) !important;
        width: 10px;
        height: 15px;
        pointer-events: none;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    .menu-item-has-children {
        position: static;
    }

    .sub-menu {
        top: 0;
        width: 100%;
        left: 100%;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        min-width: 100%;

        li a {
            padding: 0;
            font-size: var(--item-font-size);
            font-weight: var(--item-font-weight);
            line-height: var(--item-line-height);
            color: var(--item-color-normal);
        }

        // dropdown inside dropdown
        .sub-menu {
            top: 0;
            left: 100%;
            background-color: transparent;
            box-shadow: none;
        }
    }

    .back-button {
        a {
            justify-content: initial;
            align-items: center;
            color: var(--primary-black);

            display: flex;
            align-items: center;

            .icon {
                transform: rotate(180deg);
                fill: var(--primary-black);
                margin-right: 0.8rem;
            }
        }
    }
}

.desktop.navigation-menu {
    > li {
        display: flex;
        align-items: center;

        > a {
            height: unset;

            &::after {
                bottom: -5px;
            }
        }
    }

    > .menu-item-has-children > a {
        &::after {
            display: none;
        }
    }

    > .menu-item-has-children > a .icon {
        width: 1.4rem;
        height: auto;
        margin-left: 0.5rem;

        fill: var(--color-primary);

        display: inline-flex;
    }

    > li {
        position: relative;
    }

    > .current-menu-ancestor::after,
    > .current-menu-item::after {
        display: block;
    }

    padding: 0;
    // gap: 3rem;
    > li {
        padding: 0;
        padding-right: 4.5rem;
    }
    > li > a {
        justify-content: flex-start;
        padding: 0;
    }

    @media (max-width: 991px) {
        display: none;
    }
}

.search {
    position: relative;

    &-icon {
        padding: 1rem;
        background-color: var(--main-orange);
        border-radius: 50%;
        aspect-ratio: 1;
        cursor: pointer;
        min-width: 34px;
        min-height: 34px;

        svg {
            height: 1.4rem;
            fill: var(--primary-white);
        }

        &:hover {
            background-color: var(--primary-white);
            svg {
                fill: var(--main-orange);
            }
        }
    }

    &-dropdown {
        position: absolute;
        top: calc(100% + 2rem);
        right: -3.4rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(5rem);
        transition: all 0.3s ease;

        input {
            width: 610px;
            max-width: 100%;
            height: 60px;

            outline: none;
            // width: 100%;
            padding: 18px 30px;
            border: 1px solid var(--border-color);
            border-radius: 1rem;
            box-sizing: border-box;
            font-family: var(--font-family-spartan);
            line-height: 1.2;
            color: var(--grey);
            font-size: var(--font-size-xx-sm);

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
            }
        }

        button {
            position: absolute;
            top: 50%;
            right: 2rem;
            transform: translateY(-50%);

            border: none;
            background-color: transparent;

            cursor: pointer;

            svg {
                height: 2rem;
                fill: var(--main-orange);
                vertical-align: middle;
            }
        }

        .arrow-icon {
            position: absolute;
            top: -2.4rem;
            right: 3rem;
            width: 0;
            height: 0;
            width: 4rem;
            height: 4rem;

            fill: var(--primary-white);
        }
    }

    &.active &-dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    @media (max-width: 991px) {
        display: none;
    }
}
