.news-detail-section {
    padding: 15rem 0;
    @media (max-width: 767px) {
        padding: 5rem 0;
    }
    .news-img-block {
        position: relative;
        .news-detail-img {
            width: 100%;
            height: 568px;
            object-fit: cover;
            border-radius: 10px;
        }
        .date-tag {
            background-color: var(--main-orange);
            border: 6px solid var(--primary-white);
            border-radius: 50%;
            position: absolute;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            left: 50%;
            margin-top: -4rem;
            transform: translateX(-50%);
            transition: 0.3s ease;
            .date {
                font-size: var(--font-size-md);
                font-family: var(--font-family-spartan);
                font-weight: 500;
                color: var(--primary-white);
                line-height: 1;
            }
            .month {
                font-size: var(--font-size-xx-sm);
                font-family: var(--font-family-spartan);
                font-weight: 700;
                color: var(--primary-white);
                line-height: 1;
            }
        }
    }
    .inner-container {
        max-width: 850px;
        margin: 0 auto;
        padding-top: 7rem;
        text-align: center;
        .primary-heading {
            text-align: center;
            line-height: 1.2;
            @media (max-width: 767px) {
                font-size: 4rem;
            }
        }
        p {
            margin-bottom: 4rem;
        }
        .news-text {
            margin: 2rem 0;
            span {
                color: var(--grey);
                font-family: var(--font-family-spartan);
                font-weight: 400;
                font-size: var(--font-size-xx-sm);
                margin-right: 2.2rem;
            }
        }
        .quote-block {
            padding: 5rem 6rem;
            border: 2px solid var(--main-orange);
            border-radius: 10px;
            margin-bottom: 5rem;
            .quote {
                font-size: var(--font-size-md);
                font-family: var(--font-family-bio-rhyme);
                font-weight: 400;
                color: var(--main-orange);
                line-height: 1.467;
                text-align: left;
            }
            .name {
                font-size: var(--font-size-md-light);
                margin-top: 3.8rem;
                text-align: left;
                margin-bottom: 0;
            }
        }
        .img-gallery {
            display: flex;
            gap: 2.8rem;
            justify-content: center;
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            .img-block {
                position: relative;
                display: inline-block;
                margin-bottom: 22px;
                cursor: pointer;
                .dog-img {
                    border-radius: 50% 50%;
                    width: 149px;
                    height: 149px;
                    display: block;
                    object-fit: cover;

                    @media (max-width: 991px) {
                        height: 120px;
                        width: 120px;
                    }
                    @media (max-width: 767px) {
                        width: 90px;
                        height: 90px;
                    }
                }
                /* Icon styling */
                .plus-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 50px;
                    width: 50px;
                    fill: var(--primary-white);
                    opacity: 0; /* Initially hidden */
                    transition: opacity 0.3s ease; /* Smooth transition */
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--overlay-color); /* Semi-transparent orange */
                    opacity: 0;
                    border-radius: 50% 50%;
                    transition: opacity 0.3s ease;
                }
                &:hover {
                    .plus-icon {
                        opacity: 1;
                    }
                    .overlay {
                        opacity: 1;
                    }
                }
            }
        }
        .img-popup {
            display: none; /* Hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--bg-popup-color);
            justify-content: center;
            align-items: center;
            z-index: 10;
        }

        .img-popup.opened {
            display: flex; /* Show popup when "opened" class is added */
        }

        .popup-image {
            max-width: 80%;
            max-height: 80%;
            border-radius: 10px;
        }

        .close-btn {
            position: absolute;
            top: 20px;
            right: 30px;
            height: 30px;
            width: 30px;
            fill: var(--primary-white);
            cursor: pointer;
        }

        .tags-and-share {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10rem 0;
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: start;
                gap: 2rem;
            }
            .title {
                color: var(--grey-black);
                font-family: var(--font-family-spartan);
                font-weight: 700;
                font-size: var(--font-size-x-sm);
            }
            .tags {
                display: flex;
                align-items: center;
                gap: 1rem;
                .tag-btn {
                    background-color: var(--icon-bg);
                    text-decoration: none;
                    padding: 1rem 2rem;
                    border-radius: 3rem;
                    font-family: var(--font-family-spartan);
                    font-weight: 500;
                    font-size: var(--font-size-xx-sm);
                    color: var(--grey);
                }
            }
            .share {
                display: flex;
                align-items: center;
                gap: 1rem;
                .social-links {
                    list-style-type: none;
                    display: flex;
                    gap: 1rem;

                    .social-link:link,
                    .social-link:visited {
                        text-decoration: none;
                        background-color: var(--icon-bg);
                        width: 41px;
                        height: 41px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s ease;
                        .icon {
                            height: 2rem;
                            width: 2rem;
                            fill: var(--grey);
                            line-height: 1.2;
                            transition: 0.3s ease;
                        }
                        &:hover {
                            background-color: var(--main-orange);
                            .icon {
                                fill: var(--primary-white);
                            }
                        }
                    }
                }
            }
        }
        .heading {
            .primary-heading {
                font-size: 4rem;
                .underline {
                    margin: 12px auto;
                }
            }
        }

        .comments-section {
            margin-bottom: 7rem;
            .comment-block {
                display: flex;
                align-items: start;
                gap: 3rem;
                border-bottom: 1px solid var(--border-color);
                margin-top: 4rem;
                &:last-child {
                    border-bottom: none;
                }
                .profile-img {
                    height: 76px;
                    width: 76px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .comment-detail {
                    text-align: left;
                    .name-reply-btn {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .name {
                            font-family: var(--font-family-bio-rhyme);
                            font-weight: 700;
                            font-size: var(--font-size-md-light);
                            color: var(--grey-black);
                        }
                        .reply-btn:link,
                        .reply-btn:visited {
                            color: var(--grey);
                            line-height: 2.143;
                            font-family: var(--font-family-spartan);
                            font-weight: 700;
                            font-size: var(--font-size-xx-sm);
                            text-decoration: none;
                            transition: 0.3s ease;
                            &:hover {
                                color: var(--main-orange);
                                text-decoration: underline;
                            }
                        }
                    }
                    .date {
                        font-family: var(--font-family-spartan);
                        font-weight: 500;
                        font-size: var(--font-size-btn);
                        color: var(--grey);
                        margin: 2rem 0;
                        line-height: 3rem;
                    }
                }
            }
        }
        .form {
            max-width: 852px;
            margin: 5rem auto 0;
            @media (max-width: 991px) {
                padding: 0 10rem;
            }
            @media (max-width: 767px) {
                padding: 0 0rem;
            }
            .form-block {
                display: flex;
                gap: 2rem;
                margin-bottom: 2rem;
                @media (max-width: 991px) {
                    flex-direction: column;
                }
            }
            .form-group {
                width: 100%;

                input[type='text'],
                input[type='email'],
                input[type='url'],
                textarea {
                    outline: none;
                    width: 100%;
                    padding: 18px 30px;
                    border: 1px solid var(--border-color);
                    border-radius: 3.6rem;
                    box-sizing: border-box;
                    font-family: var(--font-family-spartan);
                    line-height: 1.2;
                    color: var(--grey);
                    font-size: var(--font-size-xx-sm);
                }
                textarea {
                    width: 100%;
                    height: 185px;
                    resize: none;
                    border-radius: 2.6rem;
                }
            }

            .btn--white {
                font-size: var(--font-size-x-sm);
                font-family: var(--font-family-bio-rhyme);
                color: var(--primary-white);
                font-weight: bold;
                line-height: 1.2;
                background-color: var(--grey-black);
                text-transform: capitalize;
                display: flex;
                letter-spacing: 0px;
                padding: 18px 32px;
                margin: 2rem auto;
                transition: 0.3s ease;
                &:hover {
                    background-color: var(--main-orange);
                    color: var(--primary-white);
                }
            }
            #successMessage {
                margin-top: 15px;
                text-align: center;
                font-weight: bold;
                font-family: var(--font-family-spartan);
            }
        }
    }
}
