.news-section {
  padding: 15rem 0;
  @media (max-width: 767px) {
    padding: 5rem 0;
  }
  .news-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    gap: 7rem;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    .primary-heading {
      font-size: var(--font-size-md);
      margin-bottom: 3rem;
      text-align: left;
      .underline {
        height: 2px;
        width: 50px;
        border: 1px solid var(--main-orange);
        margin: 12px 0;
      }
    }
    .form-button-area {
      .search-form {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        gap: 1rem;
        margin-bottom: 5rem;
        input[type="search"] {
          font-family: var(--font-family-spartan);
          font-weight: 500;
          color: var(--grey);
          font-size: var(--font-size-xx-sm);
          padding: 2rem 3rem;
          border-radius: 3rem;
          border: 1px solid var(--border-color);
          outline: none;
          width: 100%;
        }
        .search-btn {
          border-radius: 50%;
          background: none;
          border: none;
          outline: none;
          display: flex;
          justify-content: center;
          align-items: center;
          .search-icon {
            height: 5rem;
            width: 5rem;
            fill: var(--primary-white);
            padding: 1.2rem;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
              fill: var(--main-orange);
            }
          }
        }
      }
      .btn-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 5rem;
        .service-btn {
          text-decoration: none;
          font-family: var(--font-family-bio-rhyme);
          font-weight: 700;
          font-size: var(--font-size-md-light);
          color: var(--grey);
          text-transform: capitalize;
          border: 1px solid var(--border-color);
          padding: 2rem 3rem;
          border-radius: 3rem;
          display: inline-block;
          transition: 0.3s ease;
        }
        .service-btn:active,
        .service-btn:hover {
          background-color: var(--main-orange);
          color: var(--primary-white);
          border: 1px solid var(--main-orange);
        }
        .active {
          background-color: var(--main-orange);
          color: var(--primary-white);
          border: 1px solid var(--main-orange);
        }
      }
      // Form-css---
      .joining-form-container {
        background-color: var(--grey-black);
        padding: 4rem;
        border-radius: 10px;
        .newsletter-icon {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          background-color: var(--main-orange);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          margin-bottom: 3rem;
          .mail-icon {
            height: 4rem;
            width: 4rem;
            fill: var(--primary-white);
          }
        }
        .primary-heading {
          text-align: center;
          color: var(--primary-white);
          margin-bottom: 3rem;
          .underline {
            margin: 12px auto;
          }
        }
        .joining-form {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 1rem;
          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="date"],
          textarea {
            font-family: var(--font-family-spartan);
            font-weight: 500;
            color: var(--grey);
            font-size: var(--font-size-xx-sm);
            padding: 2rem 3rem;
            border-radius: 3rem;
            border: none;
            outline: none;
          }
          textarea {
            width: 100%;
            height: 134px;
            resize: none;
            border-radius: 2.6rem;
          }
          .submit-btn {
            font-family: var(--font-family-bio-rhyme);
            font-weight: 700;
            font-size: var(--font-size-x-sm);
            color: var(--primary-white);
            background-color: var(--main-orange);
            text-align: center;
            padding: 1.6rem 3rem;
            border-radius: 3rem;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
              background-color: var(--primary-white);
              color: var(--main-orange);
            }
          }
          .privacy-tag {
            font-family: var(--font-family-spartan);
            font-weight: 500;
            color: var(--grey);
            font-size: var(--font-size-xx-sm);
            text-align: center;
          }
        }
      }

      .recent-posts-block {
        margin-top: 7rem;
        .recent-post {
          display: flex;
          align-items: center;
          gap: 1.6rem;
          text-decoration: none;
          cursor: pointer;
          border-bottom: 1px solid var(--border-color);
          padding: 1.5rem 0;
          .post-img-block {
            position: relative;

            .post-img {
              width: 76px;
              height: 76px;
              object-fit: cover;
              border-radius: 50%;
            }
            /* Icon styling */
            .plus-icon {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 30px;
              width: 30px;
              fill: var(--primary-white);
              opacity: 0; /* Initially hidden */
              transition: opacity 0.3s ease; /* Smooth transition */
            }
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: var(
                --overlay-color
              ); /* Semi-transparent orange */
              opacity: 0;
              border-radius: 50% 50%;
              transition: opacity 0.3s ease;
            }
            &:hover {
              .plus-icon {
                opacity: 1;
              }
              .overlay {
                opacity: 1;
              }
            }
          }

          .post-title {
            display: flex;
            flex-direction: column;
            p {
              font-family: var(--font-family-spartan);
              font-weight: 600;
              font-size: var(--font-size-x-sm);
              color: var(--grey-black);
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .service-content-block {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      .service-content-block.active {
        display: block;
        opacity: 1;
      }
    }
    .news-card-block {
      @media (max-width: 767px) {
        grid-row: 1;
      }
      .services-section {
        padding: 0 0;
        .services-card-section {
          margin-top: 0;
          grid-template-columns: 1fr 1fr;
          @media (max-width: 991px) {
            grid-template-columns: 1fr;
          }
          .service-card {
            .service-img-block {
              .date-tag {
                background-color: var(--main-orange);
                border: 6px solid var(--primary-white);
                border-radius: 50%;
                position: absolute;
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                right: 2rem;
                margin-top: -4rem;
                transition: 0.3s ease;
                .date {
                  font-size: var(--font-size-md);
                  font-family: var(--font-family-spartan);
                  font-weight: 500;
                  color: var(--primary-white);
                  line-height: 1;
                }
                .month {
                  font-size: var(--font-size-xx-sm);
                  font-family: var(--font-family-spartan);
                  font-weight: 700;
                  color: var(--primary-white);
                  line-height: 1;
                }
              }
              &::after {
                display: none;
              }
            }
            &:hover {
              .service-img-block .date-tag {
                background-color: var(--primary-black);
              }
            }
          }
        }
      }
    }
    .pagination {
      display: inline-block;
      grid-area: 2/-2;
      @media (max-width: 767px) {
        grid-row: 3;
      }
      a {
        border-radius: 50%;
        background-color: var(--icon-bg);
        float: left;
        width: 51px;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: var(--font-size-md-light);
        font-family: var(--font-family-spartan);
        color: var(--grey);
        font-weight: 700;
        margin-right: 1rem;
        padding-top: 2px;
        transition: 0.3s ease;
        .pagination-icon {
          border-radius: 50%;
          height: 2.4rem;
          width: 2.4rem;
          fill: var(--grey);
        }
      }
      a.active,
      :hover {
        background-color: var(--main-orange);
        color: var(--primary-white);
        .pagination-icon {
          fill: var(--primary-white);
        }
      }
    }
  }
}
