.page-header-section {
  background-image: url(../images/page-header-img.png);
  background-color: var(--primary-black);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    padding: 21.18rem 0 9.8rem 0;
    @media (min-width: 1600px) {
      padding: 25rem 0 15rem 0;
    }
    .primary-heading {
      color: var(--primary-white);
      font-size: 5rem;
      line-height: 1;
    }
    .breadcrumb {
      padding: 0 0.5rem;
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          line-height: 1.665;
          font-family: var(--font-family-spartan);
          font-weight: 500;
          font-size: var(--font-size-xx-sm);
          color: var(--primary-white);
          display: flex;
          align-items: center;
          fill: var(--primary-white);
          .page-link:link,
          .page-link:visited {
            text-decoration: none;
            color: var(--primary-white);
          }
          &:not(:last-child)::after {
            display: inline-block;
            margin: 0 1.5rem;
            content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M8.59%2C16.58L13.17%2C12L8.59%2C7.41L10%2C6L16%2C12L10%2C18L8.59%2C16.58Z%22/%3E%3C/svg%3E');
            width: 2rem;
            height: 2rem;
           
          }
        }
      }
    }
  }
}
