.service-detail-section {
    padding-top: 12rem;
    padding-bottom: 15rem;
    @media (max-width: 767px) {
        padding: 5rem 0;
    }
    .service-detail-wrapper {
        display: grid;
        grid-template-columns: 1.4fr 3fr;
        gap: 4rem;
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
        .primary-heading {
            font-size: var(--font-size-md);
            margin-bottom: 3rem;
            text-align: left;
            .underline {
                height: 2px;
                width: 50px;
                border: 1px solid var(--main-orange);
                margin: 12px 0;
            }
        }
        p {
            margin-bottom: 4rem;
        }
        .form-button-area {
            @media (max-width: 767px) {
                grid-row: 2;
            }
            .btn-block {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 5rem;

                .service-btn {
                    text-decoration: none;
                    font-family: var(--font-family-bio-rhyme);
                    font-weight: 700;
                    font-size: var(--font-size-md-light);
                    color: var(--grey);
                    text-transform: capitalize;
                    border: 1px solid var(--border-color);
                    padding: 2rem 3rem;
                    border-radius: 3rem;
                    display: inline-block;
                    transition: 0.3s ease;
                }
                .active {
                    background-color: var(--main-orange);
                    color: var(--primary-white);
                    border: 1px solid var(--main-orange);
                }
                .service-btn:active,
                .service-btn:hover {
                    background-color: var(--main-orange);
                    color: var(--primary-white);
                    border: 1px solid var(--main-orange);
                }
            }
        }
        // Form-css---
        .joining-form-container {
            background-color: var(--grey-black);
            padding: 4rem;
            border-radius: 10px;
            .newsletter-icon {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                background-color: var(--main-orange);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-bottom: 3rem;
                .mail-icon {
                    height: 4rem;
                    width: 4rem;
                    fill: var(--primary-white);
                }
            }
            .primary-heading {
                text-align: center;
                color: var(--primary-white);
                margin-bottom: 3rem;
                .underline {
                    margin: 12px auto;
                }
            }
            .joining-form {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                input[type='text'],
                input[type='email'],
                input[type='tel'],
                input[type='date'],
                textarea {
                    font-family: var(--font-family-spartan);
                    font-weight: 500;
                    color: var(--grey);
                    font-size: var(--font-size-xx-sm);
                    padding: 2rem 3rem;
                    border-radius: 3rem;
                    border: none;
                    outline: none;
                }
                textarea {
                    width: 100%;
                    height: 134px;
                    resize: none;
                    border-radius: 2.6rem;
                }
                .submit-btn {
                    font-family: var(--font-family-bio-rhyme);
                    font-weight: 700;
                    font-size: var(--font-size-x-sm);
                    color: var(--primary-white);
                    background-color: var(--main-orange);
                    text-align: center;
                    padding: 1.6rem 3rem;
                    border-radius: 3rem;
                    border: none;
                    outline: none;
                    transition: 0.3s ease;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--primary-white);
                        color: var(--main-orange);
                    }
                }
                .privacy-tag {
                    font-family: var(--font-family-spartan);
                    font-weight: 500;
                    color: var(--grey);
                    font-size: var(--font-size-xx-sm);
                    text-align: center;
                }
            }
        }
        // -----
        .service-content-block {
            display: none;
            opacity: 0;
            transition: opacity 0.5s ease;
            .service-img-block {
                position: relative;
                padding-bottom: 3rem;
                .joining-form-container {
                    position: absolute;
                    max-width: 390px;
                    top: 2rem;
                    right: 2rem;
                    @media (max-width: 767px) {
                        right: -17rem;
                        top: 72%;
                        left: 50%;
                        max-width: 100%;
                        transform: translateX(-50%);
                    }
                    .primary-heading {
                        text-align: center;
                        margin-top: 0;
                    }
                }
            }
            .service-main-img {
                width: 100%;
                border-radius: 10px;
                min-height: 590px;
                max-width: 850px;
                object-fit: cover;
                @media (max-width: 991px) {
                    min-height: 540px;
                }
            }
            .margin-top {
                @media (max-width: 767px) {
                    margin-top: 55rem;
                }
            }
            .primary-heading {
                margin-top: 4rem;
                text-align: left;
            }

            .checkpoint-box {
                list-style: none;
                .checkpoint {
                    margin-bottom: 1rem;
                    align-items: flex-start;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    p {
                        margin-bottom: 0;
                    }
                    &::before {
                        content: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 24 24%22%3E%3Ctitle%3Echeck-decagram%3C/title%3E%3Cpath fill%3D%22%23ff6d2d%22 d%3D%22M23%2C12L20.56%2C9.22L20.9%2C5.54L17.29%2C4.72L15.4%2C1.54L12%2C3L8.6%2C1.54L6.71%2C4.72L3.1%2C5.53L3.44%2C9.21L1%2C12L3.44%2C14.78L3.1%2C18.47L6.71%2C19.29L8.6%2C22.47L12%2C21L15.4%2C22.46L17.29%2C19.28L20.9%2C18.46L20.56%2C14.78L23%2C12M10%2C17L6%2C13L7.41%2C11.59L10%2C14.17L16.59%2C7.58L18%2C9L10%2C17Z%22/%3E%3C/svg%3E');
                        display: inline-block;
                        height: 18px;
                        width: 18px;
                        margin: 4px 10px 0 0;
                        vertical-align: top;
                    }
                }
            }

            .form {
                width: 100%;
                margin: 5rem auto 0;

                .form-block {
                    display: flex;
                    gap: 2rem;
                    margin-bottom: 2rem;
                    @media (max-width: 991px) {
                        flex-direction: column;
                    }
                }
                .form-group {
                    width: 100%;

                    input[type='text'],
                    input[type='email'],
                    input[type='tel'],
                    textarea {
                        outline: none;
                        width: 100%;
                        padding: 18px 30px;
                        border: 1px solid var(--border-color);
                        border-radius: 3.6rem;
                        box-sizing: border-box;
                        font-family: var(--font-family-spartan);
                        font-weight: 500;
                        line-height: 1.2;
                        color: var(--grey);
                        font-size: var(--font-size-xx-sm);
                    }
                    textarea {
                        width: 100%;
                        height: 18rem;
                        resize: none;
                        border-radius: 2.6rem;
                    }
                }

                .btn--white {
                    font-size: var(--font-size-x-sm);
                    font-family: var(--font-family-bio-rhyme);
                    color: var(--primary-white);
                    font-weight: bold;
                    line-height: 1.2;
                    background-color: var(--grey-black);
                    text-transform: capitalize;
                    display: flex;
                    letter-spacing: 0px;
                    padding: 18px 32px;
                    margin: 2rem auto;
                    transition: 0.3s ease;
                    &:hover {
                        background-color: var(--main-orange);
                        color: var(--primary-white);
                    }
                }
                #successMessage {
                    margin-top: 15px;
                    text-align: center;
                    font-weight: bold;
                    font-family: var(--font-family-spartan);
                }
            }
        }
        .service-content-block.active {
            display: block;
            opacity: 1; /* Fully visible when active */
        }
    }
}
