// Services-section-css
.services-section {
    padding: 15rem 0;
    @media (max-width: 767px) {
        padding: 5rem 0;
    }
    .primary-heading {
        text-align: center;
        .underline {
            margin: 12px auto;
        }
    }
    .primary-discription {
        text-align: center;
        margin: auto;
    }
    .services-card-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin-top: 5.2rem;
        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .service-card {
            position: relative;
            text-decoration: none;
            transition: 0.3s ease;
            .service-img-block {
                position: relative;
                display: inline-block;
                margin-bottom: 1rem;
                width: 100%;
                .service-img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    display: block;
                    object-fit: cover;
                }
                /* Icon styling */
                .plus-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 50px;
                    width: 50px;
                    fill: var(--primary-white);
                    opacity: 0; /* Initially hidden */
                    transition: opacity 0.3s ease; /* Smooth transition */
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--overlay-color); /* Semi-transparent orange */
                    opacity: 0;
                    border-radius: 10px;
                    transition: opacity 0.3s ease;
                }
                &::after {
                    content: '$20';
                    background-color: var(--main-orange);
                    border: 6px solid var(--primary-white);
                    border-radius: 50%;
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    font-size: var(--font-size-md-light);
                    font-family: var(--font-family-spartan);
                    color: var(--primary-white);
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 2rem;
                    bottom: -5rem;
                    transition: 0.3s ease;
                }
            }
            .service-content {
                outline: 1px solid var(--border-color);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 2.8rem;
                padding: 4rem 3rem;
                text-align: left;
                .title {
                    font-size: var(--font-size-md);
                    font-family: var(--font-family-bio-rhyme);
                    color: var(--grey-black);
                    font-weight: bold;
                    line-height: 1.25;
                }
                .news-text {
                    span {
                        color: var(--grey);
                        font-family: var(--font-family-spartan);
                        font-weight: 400;
                        font-size: var(--font-size-xx-sm);
                        margin-right: 2.2rem;
                    }
                }
                .service-description {
                    font-family: var(--font-family-spartan);
                    font-weight: 500;
                    font-size: var(--font-size-x-sm);
                    color: var(--grey);
                    line-height: 1.875;
                }
                .read-more {
                    color: var(--grey);
                    font-family: var(--font-family-spartan);
                    font-weight: 600;
                    font-size: var(--font-size-xx-sm);
                    line-height: 1.55;
                    transition: 0.3s ease;
                }
            }

            &:hover {
                .service-content {
                    outline: 2px solid var(--main-orange);
                    box-shadow: 0px 10px 20px 0px var(--box-shadow-color);
                }
                .plus-icon {
                    opacity: 1;
                }
                .overlay {
                    opacity: 1;
                }
                .service-img-block::after {
                    background-color: var(--primary-black);
                }
                .read-more {
                    text-decoration: underline;
                    color: var(--main-orange);
                }
            }
        }
        .hidden-item {
            display: none;
        }

        .hidden-item.visible {
            display: block;
        }
    }
    .service-more-btn {
        display: flex;
        justify-content: center;
        .btn--white {
            font-family: var(--font-family-bio-rhyme);
            font-weight: 700;
            font-size: var(--font-size-x-sm);
            background-color: var(--grey-black);
            color: var(--primary-white);
            transition: 0.3s ease;
            margin-top: 10rem;
            &:hover {
                background-color: var(--main-orange);
            }
        }
    }
}
// Services-section-css
